form {
    width: 700px;
    margin: 150px auto;
}

form div {
    margin: 30px auto;
}
form .file-input-container {
    position: relative;
}
form .file-input {
    opacity: 0;
}
form .file-label {
    border: 1px solid #CCC;
    border-radius: 5px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    cursor: pointer;
    padding: 10px 15px;
    color: #999;

}
form button {
    padding: 10px 15px;
    border-radius: 5px;
    color: #999;
}
.hide {
    display:none;
}
.show {
    display: block;
}
#preview {
    margin: 0 auto;
}
.photo-message-success {
    color: green;
    font-weight: bold;
}
.photo-message-error {
    color: red;
    font-style: italic;
}